@import 'prism-theme-vars/base.css';
@import 'codemirror-theme-vars/base.css';
@import 'prism-theme-vars/to-codemirror.css';

:root {
  --prism-font-family: var(--slidev-code-font-family);
  --prism-background: var(--slidev-code-background);
}

/* Need help with light theme. */
html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-comment: #6e7179;
  --prism-string: #9cc0bd;
  --prism-literal: #9cc0bd;
  --prism-number: #d4d4d4;
  --prism-keyword: #ff4c9c;
  --prism-function: #d4d4d4;
  --prism-boolean: #9cc0bd;
  --prism-constant: #ff7748;
  --prism-deleted: #c74e39;
  --prism-class: #149287;
  --prism-builtin: #ba3cfd;
  --prism-property: #149287;
  --prism-namespace: #ba3cfd;
  --prism-punctuation: #d4d4d4;
  --prism-decorator: #2d67ee;
  --prism-regex: #2d67ee;
  --prism-json-property: #9cc0bd;
}

html.dark {
  --prism-foreground: #393a34;
  --prism-comment: #6e7179;
  --prism-string: #9cc0bd;
  --prism-literal: #9cc0bd;
  --prism-number: #d4d4d4;
  --prism-keyword: #ff4c9c;
  --prism-function: #d4d4d4;
  --prism-boolean: #9cc0bd;
  --prism-constant: #ff7748;
  --prism-deleted: #c74e39;
  --prism-class: #149287;
  --prism-builtin: #ba3cfd;
  --prism-property: #149287;
  --prism-namespace: #ba3cfd;
  --prism-punctuation: #d4d4d4;
  --prism-decorator: #2d67ee;
  --prism-regex: #2d67ee;
  --prism-json-property: #9cc0bd;
  --prism-line-number: #858585;
  --prism-line-number-gutter: #2b2c33;
  --prism-line-highlight-background: #1492872e;
  --prism-selection-background: #14928774;
}
